* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gidole";
  background-color: black;
  color: white;
  
}

.title {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}

.outer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 50px;
}

img {
  width: 60px;
  border: none;
}

button {
  border: none;
  border-radius: 3px;
}

.player-label {
  text-align: center;
}
.player-container, .computer-container {
  background-color: #80CFA9;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;

  width: 300px;
  
  padding: 20px 20px;

}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.rock-option {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#comp-picture {
  width: 50px;
}

#user-pic {
  width: 50px;
}

button {
  transition: 0.1s;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  opacity: 0.65;
}

.player-label {
  font-size: 25px;
}

.result {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.clicked {
  background-color: #C9D7F8;
}

.options img {
  width: 75px;
}

.winner {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}